@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

#services {

    font-weight: 100;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: white;

}

#center {
    display: flex;
    justify-content: center;
    padding: 300px 10px 10px 10px ;
    border: solid 3px red;
}

.textpos{
    position:relative;
    left:41.5%;
    top: 5%;
}

#imgpos {
    position:relative;
    left:24%;
    top:33%;
    }

.botaoper {

    position: relative;
    bottom: -55px;
    left: 570px;
    border-radius: 80px;
    margin-left: 15px;
    background: #F3CE5E;
    padding: 15px;
    width: 13%; 
    color:#7c4032;
    font-family: Poppins;
    font-weight: 100px;
    }

#conteudo{
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: 400px;

    }