@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

#fundogu2 {

    position: absolute;
    width: 1440px;
    height: 560px;
    left: 0px;
    top: 0px;

    background-color: #E5F0FD;

}

#gu1escrita{

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #217BF4;
    position: relative;
    left: 10%;
    top: 20%;
}

#gu2escrita {

    position: relative;
    left: 10%;
    top: 13%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    color: #0A093D;

}

#gu3escrita {

    position: relative;
    left: 10.5%;
    top: 8%;
    font-family:'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #656464;
}

#posiapplegu {

    position:relative;
    left: 9%;
    top: -5%;
    filter: drop-shadow(0px 0px 22px rgba(178, 188, 208, 0.21));
    
}

#posiandgu {

    position:relative;
    left: 23%;
    top: 9%;
    filter: drop-shadow(0px 0px 22px rgba(178, 188, 208, 0.21));
}

#posicelgu {

    position: relative;
    left:60%;
    top:-95%;
}